@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="text-center">
     <div class="centro">
            <a class=com  asp-controller="Setor" asp-action="Create">
                <div id=circulo class=DIV-btn-circular><small>CRIAR SETOR</small></div>
            </a>
            <a class=com asp-controller="Produto" asp-action="Create">
                <div id=circulo class=DIV-btn-circular><small>CRIAR PRODUTO</small></div>
            </a>
            <a class=com asp-controller="Comprar" >
                <div id=circulo class=DIV-btn-circular><small>COMPRAR</small></div>
            </a>
</div>
